#container {
    margin: 0 auto;
    width: 400px;
}

#timer {
    font-size: 20px;
    text-align: center;
    align-content: center;
    height: 200px;
    background-color: #eee;
    line-height: 200px;
}

#panel {
    align-content: center;
    height: 100px;
    background-color: #ccc;
    padding: 20px;

}

#main {
     float: left;

 }

#rest {
    float: right;

}